{% extends "base_administrador.html" %}
{% block titulo %}Boru - Modificar Mesa{% endblock %}
{% block contenido %}

<div class="izquierda">
    <div class="listado_modificar_mozos cont_redondeado">
        <div class="label label-inverse titulo_menu">Listado de Mesas</div>


        <!-- inicio buscador mesas//-->
        <div class="input-append">
            <input class="span2 buscador_productos buscador_mesas" id="appendedInputButton" type="text" name="q">
            <button class="btn" id="buscarresultados" type="submit" name="buscar" value="buscar">Buscar</button>
        </div>
        <div class="cont_resultado_busqueda_productos">
        </div>
        <!-- fin buscador mesas//-->

        <!-- inicio listado de mozos //-->
        <!-- inicio encabezados del listado //-->
        <div class="listado_item_campo_header label label-inverse">
            <div class="listado_item_campo_base listado_item_campo_02">
                &nbsp
            </div>
            <div class="listado_item_campo_base listado_item_campo_04" title="Sector">
                Sec
            </div>

            <div class="listado_item_campo_base listado_item_campo_02" title="Tipo">
                Tipo
            </div>

            <div class="listado_item_campo_base listado_item_campo_02" title="Capacidad">
                Cap.
            </div>

            <div class="listado_item_campo_base listado_item_campo_02" title="Ocupada">
                Ocup.
            </div>

            <div class="listado_item_campo_base listado_item_campo_01" title="Numero de Mesa">
                Nº
            </div>
        </div>
        <!-- fin de encabezados del listado //-->

        <div class="ajax_resultados">
            <div class="item">
                {% for m in mesas %}
                <div class="listado_modificar_mozo_item {% if not m.activo %}inactivo{% endif %}">

                    <div class="listado_item_campo_base listado_item_campo_02">
                        <img src="{{STATIC_URL}}img/conf/{% if m.activo %}glyphicons_192_circle_remove.png{% else %}glyphicons_193_circle_ok.png{% endif %}"
                             urldel="{% url 'modificarmesa_id_del' m.id %}" estado="{{m.activo}}" class="eliminar_mesa"
                             nombre="{{m.id}}"
                             title="{% if not m.activo %}Acivar{% else %}Desactivar{% endif %} mesa: {{m.id}}">
                    </div>


                    <div class="cargar_modificar_mozo" href="{% url 'modificarmesa_id' m.id %}">

                        <div class="listado_item_campo_base listado_item_campo_04" title="Sector: {{m.sector}}">
                            {{m.sector|capfirst|truncatechars:10}}
                        </div>

                        <div class="listado_item_campo_base listado_item_campo_02"
                             title="Tipo de mesa: {{m.get_tipo_display}}">
                            {{m.get_tipo_display}}
                        </div>

                        <div class="listado_item_campo_base listado_item_campo_02" title="Capacidad: {{m.capacidad}}">
                            {{m.capacidad}}
                        </div>

                        <div class="listado_item_campo_base listado_item_campo_02" title="{{m.get_ocupada_display}}">
                            {{m.get_ocupada_display|truncatechars:6}}
                        </div>

                        <div class="listado_item_campo_base listado_item_campo_01" title="Numero de mesa: {{m.id}}">
                            {{m.id}}
                        </div>

                    </div>
                </div>
                {% endfor %}

                <!-- inicio paginador //-->
                {% if mesas.paginator %}
                <div class="pagination">
            <span class="step-links">
                {% if mesas.has_previous %}
                    <a href="#" title=" < Anterior "><img src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"
                                                          onclick="paginarMesas({{ mesas.previous_page_number }});"></a>
                {% endif %}

                <span class="current">
                    {{ mesas.number }}<span class="paginado_de"> de {{ mesas.paginator.num_pages }}</span>
                </span>

                {% if mesas.has_next %}
                    <a href="#" title=" Siguiente > "><img src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"
                                                           onclick="paginarMesas({{ mesas.next_page_number }});"></a>
                {% endif %}
            </span>
                </div>
                {% endif %}
                <!-- fin paginador //-->


            </div>
        </div>
        <!-- fin listado de mozos//-->
    </div>
</div>

<div class="derecha">
    <div id="con_menu_mesa" class="cont_redondeado contenedor_principal_big">
        <div class="label label-inverse titulo_menu">Modificar Mesas</div>
        <br>

        <div class="salto_linea"></div>
        <div id="mesas_libres" class="bloque_mesas">
            <div class="salto_linea"></div>

            <!--Aca inicio contenido//-->
            <form action="" method="post" name="add_mesa" id="id_add_mesa">
                {{ formulario.non_field_errors }}

                <div class="contenefor_form_row">

                    <div class="contenedor_texto">
                      <span class="badge badge-inverse"> Nro.</span>
                        <span class="badge badge-warning"> {{id_mesa}} </span>

                    </div>
                    <div class="contenedor_input texto_iz">


                    </div>
                </div>

                <div class="contenefor_form_row">

                    <div class="contenedor_texto"><span class="form_error_msg">*</span> Tipo</div>
                    <div class="contenedor_input">

                        {{ formulario.tipo }}
                        <div class="form_error_msg">{{ formulario.tipo.errors|striptags }}</div>
                    </div>
                </div>

                <div class="contenefor_form_row">

                    <div class="contenedor_texto"><span class="form_error_msg">*</span> Capacidad</div>
                    <div class="contenedor_input">

                        {{ formulario.capacidad }}
                        <div class="form_error_msg">{{ formulario.capacidad.errors|striptags }}</div>
                    </div>
                </div>

                <div class="contenefor_form_row">

                    <div class="contenedor_texto"><span class="form_error_msg"></span> Ocupada</div>
                    <div class="contenedor_input">

                        {{ formulario.ocupada }}
                        <div class="form_error_msg">{{ formulario.ocupada.errors|striptags }}</div>
                    </div>
                </div>

                <div class="contenefor_form_row">

                    <div class="contenedor_texto"><span class="form_error_msg"></span> Activo</div>
                    <div class="contenedor_input">

                        {{ formulario.activo }}
                        <div class="form_error_msg">{{ formulario.activo.errors|striptags }}</div>
                    </div>
                </div>

                <div class="contenefor_form_row">
                    <div class="contenedor_texto"><span class="form_error_msg"></span> Sector</div>
                    <div class="contenedor_input">
                        {{ formulario.sector }}
                        <div class="form_error_msg">{{ formulario.sector.errors|striptags }}</div>
                    </div>
                </div>

                {% csrf_token %}
                <div class="salto_linea"></div>
                <input type="submit" name="btn_add_mozo" id="btn_id_add_mozo" value="Modificar Mesa"
                       class="btn btn-large btn-primary">

            </form>
            <!-- Aca fin de contenido//-->

        </div>
        <!-- fin bloke de mesas//-->
        <div class="salto_linea"></div>
        <span class="form_error_msg">* Campos Obligatorios</span>
    </div>
    <!-- fin contenedor principal//-->

</div><!-- derecha fin//-->
{% endblock %}

{% block script %}
<script>

function enviarForm(msg){
    $(".buscador_mesas").val(msg);
    buscarresultados();
}

function reemplazarCadena(cad, q){
var re = new RegExp(q,"gi");
    return cad.replace(re,"<span class='resaltado resaltarBusqueda'>"+q+"</span>");
}

function buscarresultados(){

    var busqueda=$(".buscador_mesas").val();

    $.ajax({
        type: "GET",
        url: "{% url 'buscador_mesas_ajax_resultados' %}",
        data: "q="+busqueda,
        success: function(datos){

            if(datos.length > 0){
                $(".ajax_resultados").html(datos);
                $(".cont_resultado_busqueda_productos").css("visibility","hidden");
                agregarFuncionalidad();
            }
          }
    });

}




function paginarMesas(pagina){

    $.ajax({
                type: "GET",
                url: "{% url 'paginador_ajax_resultados_mesas' %}",
                data: "pagina="+pagina,
                success: function(datos){
                    $(".ajax_resultados").html(datos);
                    agregarFuncionalidad();
                }
            });
}


function agregarFuncionalidad(){

    $(".cargar_modificar_mozo").each(function(i){
	 	$(this).css("cursor","pointer");
			$(this).click(function(event){
				var uri=$(this).attr("href");
				$(location).attr('href',uri);
			});
	 });

	 $(".eliminar_mesa").each(function(i){
	 	$(this).css("cursor","pointer");

			$(this).click(function(event){
				var mozo = $(this).attr("nombre");
				var estado = $(this).attr("estado");
				var msg = (estado == "True")?"Usted desea desactivar la mesa ":"Usted desea activar la mesa ";
                if( confirm(msg+mozo+"?") ){
                   $(location).attr('href', $(this).attr("urldel") );
                }
			});
	 });

}




$(document).ready(function(){



    $("#buscarresultados").click(function(event){
        buscarresultados();
    });



        $(".cont_resultado_busqueda_productos").css("visibility","hidden");

    //cuando presiono una tecla en la caja de busqueda
    $(".buscador_mesas").keyup(function(event){

        var busqueda=$(this).val();

        if( busqueda.length >= 1){

            $.ajax({
                type: "GET",
                url: "{% url 'buscador_mesas_ajax' %}",
                data: "q="+busqueda,
                success: function(datos){

                    if(datos.length > 0){
                        $(".cont_resultado_busqueda_productos").html(datos);
                        $(".cont_resultado_busqueda_productos").css("visibility","visible");

                        $(".busqueda_item").each(function(i){
                            var cad=$(this).text();
                            $(this).html(reemplazarCadena(cad, busqueda));
                            $(".resaltado").addClass("resaltarBusqueda");
                        });

                    }
                    else{
                        $(".cont_resultado_busqueda_productos").css("visibility","hidden");
                    }

                  }
            });
        }
        else
        {
            $(".cont_resultado_busqueda_productos").css("visibility","hidden");
        }

        var keycode = (event.keyCode ? event.keyCode : event.which);

          if(keycode == '13'){

                buscarresultados();
          }


    });


agregarFuncionalidad();

});

</script>
{% endblock %}