{% extends "base_administrador.html" %}
{% block titulo %}Boru - Alta Mozo{% endblock %}
{% block contenido %}

<div id="con_menu_mozo" class="cont_redondeado contenedor_principal_big">
    <div class="label label-inverse titulo_menu">Alta Mozos</div>
    <br>

    <div class="salto_linea"></div>
    <div id="mesas_libres" class="bloque_mesas">
        <div class="salto_linea"></div>

        <!--Aca inicio contenido//-->
        <form action="" method="post" name="add_mozo" id="id_add_mozo">
            {{ formulario.non_field_errors }}

            <div class="contenefor_form_row">

                <div class="contenedor_texto"><span class="form_error_msg">*</span> Usuario</div>
                <div class="contenedor_input">
                    <!--<input type="text" name="username" value="" class="validar_campo">-->
                    {{ formulario.username }}
                    <div class="form_error_msg">{{ formulario.username.errors|striptags }}</div>
                </div>
            </div>

            <div class="contenefor_form_row">

                <div class="contenedor_texto"><span class="form_error_msg">*</span> Contrase&ntilde;a</div>
                <div class="contenedor_input">
                    <!--<input type="password" name="password" value="" class="validar_campo">-->
                    {{ formulario.password }}
                    <div class="form_error_msg">{{ formulario.password.errors|striptags }}</div>
                </div>
            </div>

            <div class="contenefor_form_row">

                <div class="contenedor_texto"><span class="form_error_msg"></span> Nombre</div>
                <div class="contenedor_input">
                    <!--<input type="text" name="first_name" value="" class="validar_campo">-->
                    {{ formulario.first_name }}
                    <div class="form_error_msg">{{ formulario.first_name.errors|striptags }}</div>
                </div>
            </div>

            <div class="contenefor_form_row">

                <div class="contenedor_texto"><span class="form_error_msg"></span> Apellido</div>
                <div class="contenedor_input">
                    <!--<input type="text" name="last_name" value="" class="validar_campo">-->
                    {{ formulario.last_name }}
                    <div class="form_error_msg">{{ formulario.last_name.errors|striptags }}</div>
                </div>
            </div>

            <div class="contenefor_form_row">
                <div class="contenedor_texto"><span class="form_error_msg"></span> E-mail</div>
                <div class="contenedor_input">
                    {{ formulario.email }}
                    <div class="form_error_msg">{{ formulario.email.errors|striptags }}</div>
                </div>
            </div>

                <div class="contenefor_form_row">
                    <div class="contenedor_texto"><span class="form_error_msg"></span> Tipo Documento</div>
                    <div class="contenedor_input">
                        {{ formulario.tipoDoc}}
                        <div class="form_error_msg">{{ formulario.tipoDoc.errors|striptags }}</div>
                    </div>
            </div>

                    <div class="contenefor_form_row">
                        <div class="contenedor_texto"><span class="form_error_msg"></span> Numero Documento</div>
                        <div class="contenedor_input">
                            {{ formulario.numeroDoc }}
                            <div class="form_error_msg">{{ formulario.numeroDoc.errors|striptags }}</div>
                        </div>
                    </div>

                        <div class="contenefor_form_row">
                            <div class="contenedor_texto"><span class="form_error_msg"></span> Telefono</div>
                            <div class="contenedor_input">
                                {{ formulario.telefono }}
                                <div class="form_error_msg">{{ formulario.telefono.errors|striptags }}</div>
                            </div>
                        </div>
                            <div class="contenefor_form_row">
                                <div class="contenedor_texto"><span class="form_error_msg"></span> Direccion</div>
                                <div class="contenedor_input">
                                    {{ formulario.direccion }}
                                    <div class="form_error_msg">{{ formulario.direccion.errors|striptags }}</div>
                                </div>
                            </div>
                                <div class="contenefor_form_row">
                                    <div class="contenedor_texto"><span class="form_error_msg"></span> Turno</div>
                                    <div class="contenedor_input">
                                        {{ formulario.turno }}
                                        <div class="form_error_msg">{{ formulario.turno.errors|striptags }}</div>
                                    </div>
                                </div>

                                    <div class="contenefor_form_row">
                                        <div class="contenedor_texto"><span class="form_error_msg"></span> Activo</div>
                                        <div class="contenedor_input">
                                            {{ formulario.is_active }}
                                            <div class="form_error_msg">{{ formulario.is_active.errors|striptags }}</div>
                                        </div>


                                    </div>


                                    {% csrf_token %}
                                    <div class="salto_linea"></div>
                                    <input type="submit" name="btn_add_mozo" id="btn_id_add_mozo" value="Alta Mozo"
                                           class="btn btn-large btn-primary">

        </form>
        <!-- Aca fin de contenido//-->

    </div>
    <!-- fin bloke de mesas//-->
    <div class="salto_linea"></div>
    <span class="form_error_msg">* Campos Obligatorios</span>
</div><!-- fin contenedor principal//-->

{% endblock %}
{% block script %}
<script>

function formAddMozoEnviar(){

var validado = true;

	$(".validar_campo").each(function(i){
	
		if( $(this).val() == ''){
		 
		 $("#div_error").fadeIn(1500);
		 
		 validado=false;
		
		}
	
	});	
	
	if(validado == true)
	$("#id_add_mozo").submit();	
}

$(document).ready(function(){
     
	 
	 /*$("#btn_id_add_mozo").click(function () {
		formAddMozoEnviar();
	});*/
	 
	 
	//leo lo que guarde
	$("#nombre_usuario").html($.cookie('usuario'));
	
	//le doy funcionalidad al boton cerrar sesion
	$("#cerrar_sescion_actual").click(function(){
		delCookies();	
		document.location.href = 'index.html';
	});
	
	$('.dropdown-toggle').dropdownHover(options);
	
});

</script>
{% endblock %}