<div class="ayuda_msg">
    <div class="flotar_iz texto_j">
                <img src="{{STATIC_URL}}img/ayudaImg/administrador.png" class="imagen_chica_ayuda flotar_iz">

        Bienvenidos a nuestro sistema, la intencion nuestra es facilitarle el manejo de su negocio
        por eso mismo este software esta diseñado para que sea facil de usar
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñass
        fgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñassf
        gh gfhjk hlklsxa saslas jas <img src="{{STATIC_URL}}img/ayudaImg/modificarmenudia2.png" class="imagen_mediana_ayuda flotar_der">kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlkl
        sxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
        sfgh gfhjk hlklsxa saslas jas kasj aljs aksjak skhakj skasñjdñaj sasñas
    </div>
</div>