<div class="ayuda_msg">
    <div class="flotar_iz texto_j">
        <img src="{{STATIC_URL}}img/ayudaImg/altamenuejecutivo1.png" class="imagen_mediana_ayuda flotar_der">
        A la izquierda de la pantalla se encuentra el listado de platos detallados por el nombre,
        precio y stock, donde debe seleccionar los platos que forman parte del menú Ejecutivo.
      <img src="{{STATIC_URL}}img/ayudaImg/altamenudia2.png" class="imagen_chica_ayuda flotar_iz">
        Para facilitar la búsqueda, en el cuadro indicado a continuación podrá escribir el nombre del plato y a medida que se forma la palabra aparecerán varias opciones en un listado que concuerden con esa búsqueda.
        <img src="{{STATIC_URL}}img/ayudaImg/altamenuejecutivo3.png" class="imagen_mediana_ayuda flotar_der">
        Cada vez que seleccione un plato, se acumularán en el listado que se encuentra a la derecha de la pantalla llamado “Platos Agregados al Menú”.
        <img src="{{STATIC_URL}}img/ayudaImg/altamenuejecutivo4.png" class="imagen_mediana_ayuda flotar_iz">
        A continuación, debe completar los datos en el formulario que se encuentra en el centro de la pantalla.
        Los campos obligatorios son los indicados con un asterisco (*) en color rojo:
        Nombre, Precio, Stock, Fecha Inicio, Fecha Fin, Sección y Activo.
        <img src="{{STATIC_URL}}img/ayudaImg/altamenudia5.png" class="imagen_chica_ayuda flotar_der">
        Nota: Los campos Sección y Activo deben seleccionarse del menú desplegable que posee cada campo. El stock es un número entero.
        La Fecha de Inicio y Fecha Fin se completan haciendo clic sobre dicho campo y seleccionando la fecha en el calendario.
        Al finalizar la carga de datos del nuevo menú Ejecutivo, debe hacer clic sobre el botón “Alta Menú Ejecutivo”.
        <img src="{{STATIC_URL}}img/ayudaImg/altamenuejecutivo6.png" class="imagen_grande_ayuda flotar_iz">
    </div>
</div>