<div class="ayuda_msg">
    <div class="flotar_iz texto_j">
        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo1.png" class="imagen_mediana_ayuda flotar_der">
        A la izquierda superior de la pantalla se encuentra el listado de Menúes detallados por el nombre,
        hacer clic sobre el campo llamado “Seleccionar Menú…” para poder ver el listado.
        Cuando visualize un listado debe seleccionar el que desea modificar.

        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo2.png" class="imagen_chica_ayuda flotar_iz">
        Una vez realizado esto, los datos del menú aparecerán en el formulario que se encuentra en el centro de la pantalla.
        Debajo del listado recién descripto, se encuentra el listado de platos detallados por el nombre, precio y stock, donde debe seleccionar los platos que desea agregar al menú Ejecutivo.


        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo3.png" class="imagen_chica_ayuda flotar_der">
        Para facilitar la búsqueda, en el cuadro indicado a continuación podrá escribir el nombre del plato y
        a medida que se forma la palabra aparecerán opciones en un listado que concuerden con esa búsqueda.

        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo4.png" class="imagen_mediana_ayuda flotar_iz">
        Luego hacer clic sobre cada plato que pertenezca al menú Ejecutivo.Cada vez que seleccione un plato,
        se acumularán en el listado que se encuentra a la derecha de la pantalla llamado “Platos Agregados al menú”.
        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo5.png" class="imagen_mediana_ayuda flotar_der">
        A continuación, si desea modificar los datos del menú Ejecutivo, debe hacerlo en el formulario que se
        encuentra en el centro de la pantalla. Los campos obligatorios son los indicados con un
        asterisco (*) en color rojo: Nombre, Precio, Stock, Fecha Inicio, Fecha Fin, Sección y Activo.

        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo6.png" class="imagen_chica_ayuda flotar_iz">

        Nota: Los campos Sección y Activo deben seleccionarse del menú desplegable que posee cada campo.
        El stock es un número entero. La Fecha de Inicio y Fecha Fin se completan haciendo clic sobre dichos
        campos y seleccionando la fecha en el calendario.
        <img src="{{STATIC_URL}}img/ayudaImg/modificarmenuejecutivo7.png" class="imagen_grande_ayuda flotar_iz">
        Al finalizar la modificación de datos del menú del Ejecutivo, debe hacer clic sobre el botón “Modificar Menú Ejecutivo”.
    </div>
</div>