<div class="ayuda_msg">
    <div class="flotar_iz texto_j">

        <img src="{{STATIC_URL}}img/ayudaImg/modificarmozo1.png" class="imagen_mediana_ayuda flotar_iz">
        Debe seleccionar el mozo que desea modificar del listado que se encuentra a la izquierda.
        Al hacer clic sobre el mozo se cargarán los datos en el formulario de la derecha.
        Luego, modifique los campos del formulario de la derecha que desea modificar,
        al finalizar hacer clic sobre el botón “Modificar Mozo”.<img src="{{STATIC_URL}}img/ayudaImg/modificarmozo2.png" class="imagen_mediana_ayuda flotar_der">
        Si la modificación de datos fue correcta, aparecerá el mensaje de la siguiente figura 16.
        En cambio, si la carga de datos fue incorrecta, debajo de cada campo incorrecto aparecerá el mensaje correspondiente al tipo de error.
    </div>
</div>