<div class="ayuda_msg">
    <div class="flotar_iz texto_j">
        Debe seleccionar el plato que desea modificar del listado que se encuentra a la izquierda.
        Al hacer clic sobre la bebida se cargarán los datos en el formulario de la derecha.
        <img src="{{STATIC_URL}}img/ayudaImg/modificarplato.png" class="imagen_mediana_ayuda flotar_der">
        Luego, modifique los campos del formulario de la derecha que desea modificar, al finalizar hacer clic sobre el botón “Modificar Plato”.
    </div>
</div>