<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Boru Resto-Bar</title>
<link rel="stylesheet" href="css/bootstrap.css"  type="text/css" media="all" />
<link rel="stylesheet" href="css/boru.css"  type="text/css" media="all" />
<script type="text/javascript" language="javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery-cookie.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" language="javascript" src="js/funciones.js"></script>
</head>
<body>
<div id="contenedor">
  
  <div id="cabecera" class="cont_cabecera"><img src="img/boru_logo2.png" width="120"></div>
  
  <div id="cuerpo">
  <!-- inicio del contenido de la pagina -->
      
	  <!--inicio de nav bar //-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="usuario_log_fix">
            <div class="icon-user"></div>
            <div class="label label-inverse" id="nombre_usuario">Gaston Mura</div>
          </div>
          <ul class="nav">
            <li><a href="menu_mozo.html">Menu Mozo</a></li>
            <li><a href="crear_comanda.html">Seleccionar Mesas</a></li>
            <li><a href="seleccionar_menu.html">Seleccionar Menu</a></li>
            <li class="active"><a href="#">Finalizar Menu</a></li>
          </ul>
          <div class="cerrar_sesion_fix" id="cerrar_sescion_actual">
            <div class="label label-inverse">&nbsp;&nbsp;Cerrar Sesion&nbsp;&nbsp;</div>
          </div>
        </div>
      </div>
      <!-- fin de nav bar //-->
	  
	  <!-- inicio contenedor principal izq//-->
	  <div class="contenedor_principal_izq">
      <div class="salto_linea"></div>
	  </div>
	  <!-- fin contenedor principal izq//-->
	  
  	  <!-- inicio contenedor principal centro//-->
	  <div class="contenedor_principal_centro">
	  
	  <div class="contenedor_secundario">
	  <div class="btn_anterior" id="btn_anterior"></div>
	  
	  <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
      <div class="label label-inverse titulo_menu">Finalizar Menu</div>
		<br>
		<div class="salto_linea"></div>
	  <div class="bloque_final">
			<div class="salto_linea"></div>
			<div class="label label-info titulo_menu">Comensales</div>
			<div class="salto_linea"></div>
			<div class="comanda_info">Cantidad de comensales: 5</div>
			<div class="salto_linea"></div>
	
			<div class="salto_linea"></div>
			<div class="label label-info titulo_menu">Mesas Seleccionadas</div>
			<div class="salto_linea"></div>
			<div class="comanda_info">Mesas: 1 3 5</div>
			<div class="salto_linea"></div>
			
			<div class="salto_linea"></div>
			<div class="label label-info titulo_menu">Menu</div>
			<div class="salto_linea"></div>
					<div class="comanda_info">Coca cola 1 $15</div>
					<div class="salto_linea"></div>
					<div class="comanda_info">Sprite 2 $15</div>
					<div class="salto_linea"></div>
					<div class="comanda_info">Quilmes 1 $35</div>
					<div class="salto_linea"></div>
					<div class="comanda_info">Pizza Completa 1 $45</div>
					<div class="salto_linea"></div>
					<div class="comanda_info">Pizza Calabresa 1 $50</div>
					<div class="salto_linea"></div>
					<div class="comanda_info">Importe Total: <span id="total_comensales">$175</span></div>
					<div class="salto_linea"></div>
		</div>	
		<br>
		<input type="button" name="finaliza" id="finalizar_menu" class="btn btn-large btn-primary" value="Finalizar Menu">
	  <br>
	  </div><!-- fin contenedor principal//-->
	  </div><!-- fin de contenedor secundario //-->
	  <div class="salto_linea"></div>
      </div><!-- fin contenedor principal centro//-->
	  
      	  
  <!-- fin del contenido de la pagina -->
  </div>
  <div class="salto_linea"></div>
  <div id="pie" class="cont_copy">&nbsp;&nbsp;&nbsp;Boru Resto-Bar - 2013 <span class="icon-tag"> </span> </div>

</div>
<script>
$(document).ready(function(){
     
	//leo lo que guarde
	$("#nombre_usuario").html($.cookie('usuario'));
	
	//le doy funcionalidad al boton cerrar sesion
	$("#cerrar_sescion_actual").click(function(){
		delCookies();	
		document.location.href = 'index.html';
	});
	
	$("#btn_anterior").click(function(){
		document.location.href = 'seleccionar_menu.html';
	});	
	
	$("#finalizar_menu").click(function(){
		document.location.href = 'menu_mozo.html';
	});	
	
});
</script>
</body>
</html>
