{% extends "base_mozo.html" %}
{% block titulo %}Boru - Seleccionar Mesas{% endblock %}
{% block contenido %}

	  
	  <div class="contenedor_secundario">
	  <div class="btn_anterior" id="btn_anterior"></div>
	  
	  <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
      <div class="label label-inverse titulo_menu">Finalizar Menu</div>
		<br>
		<div class="salto_linea"></div>
	  <div class="bloque_final">
			<div class="salto_linea"></div>
			<div class="label label-info titulo_menu">Comensales</div>
			<div class="salto_linea"></div>
			<div class="comanda_info">{{cantidad}}</div>
			<div class="salto_linea"></div>
	
			<div class="salto_linea"></div>
			<div class="label label-info titulo_menu">Mesas Seleccionadas</div>
			<div class="salto_linea"></div>
			<div class="comanda_info">Mesas: {{mesas}}</div>
			<div class="salto_linea"></div>
			
			<div class="salto_linea"></div>
			<div class="label label-info titulo_menu">Menu</div>
			<div class="salto_linea"></div>
                {% for m in menuS %}
					<div class="comanda_info">Pedido:{{m.nombre}} Cantidad:{{m.cantidad}} Total:{{m.total}}</div>
					<div class="salto_linea"></div>
                {% endfor %}
		    </div>
		<br>
		<input type="button" name="finaliza" id="finalizar_menu" class="btn btn-large btn-primary" value="Finalizar Menu">
	  <br>
	  </div><!-- fin contenedor principal//-->
	  </div><!-- fin de contenedor secundario //-->
	  <div class="salto_linea"></div>
      </div><!-- fin contenedor principal centro//-->
	  
    {% endblock %}

{% block script %}
  <!-- fin del contenido de la pagina -->

<script>
$(document).ready(function(){
	
	$("#btn_anterior").click(function(){
		document.location.href = "{% url 'seleccionarproductos' %}";
	});
	
	$("#finalizar_menu").click(function(){
		document.location.href = 'menu_mozo.html';
	});	
	
});
</script>
{% endblock %}
