<div class="menu_seleccionado">
    <div class="label label-inverse menu_seleccionada_item">Menu Seleccionado</div>
    <div class="menu">
        <!-- inicio menus selecionados //-->
        {% for p in producto %}
        <div class="label label-info menu_seleccionada_item">

            <div class="nombreProducto label label-info flotar_iz texto_iz"
                 title="{{p.nombre|capfirst}}:{{p.precio}}">
                {{p.nombre|capfirst}}
            </div>


            <div class="eliminarProducto flotar_der" onclick="modificarlistado({{p.id}})"
                 title="Eliminar Producto"></div>
            <div class="precioProducto badge badge-warning flotar_der">{{p.precio}}</div>
        </div>
        <div class="salto_linea"></div>
        {% endfor %}
        <!-- fin menus selecionados //-->
    </div>
    <div class="label label-inverse menu_seleccionada_item">
        <div class="badge badge-info flotar_der">{{total}}</div>
        <div class="label label-inverse flotar_der">Total:</div>
        <!--<span id="total_comensales">//-->

        <!--</span>//-->
    </div>
</div>