<!-- inicio contenedor principal izq//-->

<div class="mesas_seleccionadas">
    <div class="label label-inverse mesa_seleccionada_item">
        <div class="contenedor_texto_link">Mesas Seleccionadas</div>
    </div>
    <div class="mesas">
        <!-- inicio mesas selecionadas //-->
        <!-- fin mesas selecionadas //-->
    </div>
    <div class="label label-inverse mesa_seleccionada_item">
        <div class="contenedor_texto_link">Cantidad Comensales: <span id="cantidad_comensales"></span></div>
        <div class="contenedor_texto_link">Total Comensales: <span id="total_comensales">0</span></div>
    </div>
</div>

<!-- fin contenedor principal izq//-->