<!-- inicio contenedor principal izq//-->

<div class="mesas_seleccionadas">
    <div class="label label-inverse mesa_seleccionada_item">
        Mesas Seleccionadas
    </div>
    <div class="mesas" id="mesas">
        <!-- inicio mesas selecionadas //-->
        <!-- fin mesas selecionadas //-->
    </div>
    <div class="label label-inverse mesa_seleccionada_item">
        <div class="badge badge-info  flotar_der">{{cantidadC}}</div>
        <span class="flotar_der">Comensales: </span>

    </div>
    <div class="label label-inverse mesa_seleccionada_item">
        <div class="badge badge-info flotar_der" id="total_comensales">0</div>
        <span class="flotar_der">Capacidad Mesas: </span>
    </div>
</div>
</div>

<!-- fin contenedor principal izq//-->