
      <div class="mesas_seleccionadas">
        <div class="label label-inverse mesa_seleccionada_item">Menu Seleccionado</div>
        <div class="menu">
          <!-- inicio menus selecionados //-->
          {% for p in producto %}
          <div class="label label-info mesa_seleccionada_item">
              <div class="label label-warning flotar_der">{{p.precio}}</div>
              <div class="label label-info  flotar_der" title="{{p.nombre|capfirst}}:{{p.precio}}">{{p.nombre|capfirst|truncatechars:13}}</div>

          </div>
          <div class="salto_linea"></div>
          {% endfor %}
          <!-- fin menus selecionados //-->
        </div>
        <div class="label label-inverse mesa_seleccionada_item">
            <div class="badge badge-info flotar_der">{{total}}</div>
            <div class="label label-inverse flotar_der">Total: </div>
            <!--<span id="total_comensales">//-->

            <!--</span>//-->
        </div>
      </div>