{% extends "base_mozo.html" %}
{% block titulo %}Boru - Seleccionar Mesas{% endblock %}
{% block contenido %}

<div class="contenedor_secundario">
    <div class="btn_anterior" id="btn_anterior"></div>
    <div class="btn_siguiente" id="btn_siguiente"></div>
    <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
        <div class="label label-inverse titulo_menu">Seleccionar Mesas</div>
        <br>

        <div class="salto_linea"></div>
        <div id="mesas_libres" class="bloque_mesas">

            <div class="salto_linea"></div>
            <input type="hidden" class="contenedor_cantidad" name="id_comanda">

                {% for m in mesas %}
                <div id="mesa_{{m.id}}"
                      class="{% if not m.ocupada %}mesa_item  mesa_item2{% else %} mesa_item_ocupada_base mesa_item_ocupada
                      {% endif %}"
                     numero_mesa="{{m.id}}" capacidad="{{m.capacidad}}" tipo="{{m.get_tipo_display}}"
                     seleccionado="false" title="{% if not m.ocupada %}Mesa Libre{% else %}Mesa Ocupada{% endif %}">
                    <div class="num_sec" title="Numero de Sector {{m.sector.id}}">{{m.sector.id}}</div>
                    <div class="num_mesa">
                        <div class="fondo_transparente badge badge-inverse">{{m.id}}</div>
                    </div>
                    <div class="mesa_info">
                        <div class="label label-info mesa_info_titulo">{{m.get_tipo_display}}</div>
                        <div class="label label-info mesa_info_titulo">Cap.{{m.capacidad}}</div>
                    </div>
                    <input type="hidden" name="mesasId[]" value="{{m.id}}">
                </div>
                {% endfor %}

        </div>
        <!-- fin bloke de mesas//-->
    </div>
    <!-- fin contenedor principal//-->
</div><!-- fin de contenedor secundario //-->
<div class="salto_linea"></div>
   {% endblock %}

{% block script %}

<script>

function cargar_mesa(id_mesa, id_comanda){

$.ajax({
                type: "GET",
                url: "{% url 'cargararmesasjax' %}",
                data: "id_mesa="+id_mesa,
                success: function(platos){

                  }
            });
}
function sacar_mesa(id_mesa, id_comanda){

$.ajax({
                type: "GET",
                url: "{% url 'sacarmesasjax' %}",
                data: "id_mesa="+id_mesa,
                success: function(platos){

                  }
            });
}
function cancelar_comanda(){

$.ajax({
                type: "GET",
                url: "{% url 'cancelarComandajax' %}",
                //data: "id_mesa="+id_mesa,
                success: function(platos){

                  }
            });
}
$(document).ready(function(){

$("#btn_anterior").click(function(){
        //cancelar_comanda();
		document.location.href = "{% url 'cancelarComandajax' %}";
	});


$("#btn_siguiente").click(function(){
		document.location.href = "{% url 'seleccionarproductos' %}";
	});

	//le asocio una funcion a cada miembro d ela clase mesa_item
	$(".mesa_item").each(function(i){

		 $(this).click(function(event){
		 	var capacidad = $(this).attr("capacidad");
		 	var numero_mesa = $(this).attr("numero_mesa");
			var tipo = $(this).attr("tipo");
			var seleccionado = $(this).attr("seleccionado");

            var total_comensales=$("#total_comensales").html();

			var mesas = $(".mesas").html();
			var cad = '<div class="label label-info mesa_seleccionada_item">'+tipo+': '+numero_mesa+'<br> Capacidad: '+capacidad+'</div>';

				if(seleccionado == "false"){

					$(this).attr("seleccionado", "true");
					$(this).removeClass("mesa_item2");
					$(this).addClass("mesa_item_inhabilitada");

					mesas = mesas + cad;
					$(".mesas").html(mesas);

					total_comensales = parseInt(total_comensales)+parseInt(capacidad);

					$("#total_comensales").html(total_comensales);
					cargar_mesa($(this).attr("numero_mesa"), $(this).attr("id_comanda"));


				}
				else{

					$(this).attr("seleccionado", "false");

					$(this).addClass("mesa_item2");
					$(this).removeClass("mesa_item_inhabilitada");

					var cad2 = $(".mesas").html();

					var cad3 = cad2.replace(cad,' ');

					$(".mesas").html(cad3);

					total_comensales = parseInt(total_comensales)-parseInt(capacidad);
					sacar_mesa($(this).attr("numero_mesa"), $(this).attr("id_comanda"));

					$("#total_comensales").html(total_comensales);

					if(total_comensales == 0)
						hay_mesas = false;
				}


		 });
     });


	$('.dropdown-toggle').dropdownHover(options);
});

</script>
{% endblock %}