{% extends "base_mozo.html" %}
{% block titulo %}Boru - Seleccionar Mesas{% endblock %}
{% block contenido %}

      <div class="contenedor_secundario">
        <div class="btn_anterior" id="btn_anterior" alt="Anterior"></div>
        <div class="btn_siguiente" id="btn_siguiente" alt="Siguiente"></div>
        <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
          <div class="label label-inverse titulo_menu">Seleccionar Menu</div>
          <br>
          <div class="salto_linea"></div>
          <div id="mesas_libres" class="bloque_mesas">
            {% for s in seccion %}
            <div id="cat_01" class="cat_item" rel="{{s.nombre|capfirst}}" id_seccion="{{s.id}}">
              <div class="img_cont"> <img src="img/comida/glyphicons_000_glass.png"> </div>
              <div class="label label-inverse">{{s.nombre}}</div>
            </div>
             {% endfor %}
          </div>
        </div>
      </div>
      <div class="salto_linea"></div>
      <!-- fin del contenido de la pagina -->
<!-- Modal -->
<div id="myModal" class="modal_seleccion_menu modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" class="modal-titulo"></h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>
<!-- Fin Modal -->
<!-- contenido de las modals //-->
<!-- fin conrenido de las modals //-->
{% endblock %}

{% block script %}

<script>
function cargar_productos(id_seccion,nombre_seccion){

$.ajax({
                type: "GET",
                url: "{% url 'cargarproductosajax' %}",
                data: "id_seccion="+id_seccion,
                success: function(platos){

                    $('.modal-titulo').html("Seccion "+nombre_seccion);
                    $('.modal-body').html(platos);
                    $('#myModal').modal("show");

                  }
            });
}
$(document).ready(function(){
     
	$("#btn_anterior").click(function(){
		document.location.href = "{% url 'crearcomanda' %}";
	});	
	$("#btn_siguiente").click(function(){
		document.location.href = 'finalizar_comanda.html';
	});
	
	//le asocio una funcion a cada miembro d ela clase cat_item
	$(".cat_item").each(function(i){
				 
		 $(this).click(function(event){
		    cargar_productos($(this).attr("id_seccion"),$(this).attr("rel"));
		 });
     });
	
	
	
});
</script>
{% endblock %}
