{% extends "base_mozo.html" %}
{% block titulo %}Boru - Seleccionar Mesas{% endblock %}
{% block contenido %}

	  <div class="contenedor_secundario">
	  <div class="btn_anterior" id="btn_anterior"></div>
	  <div class="btn_siguiente" id="btn_siguiente"></div>
	  
	  <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
        <div class="label label-inverse titulo_menu">Seleccionar Mesas</div>
        <br>
        <div class="salto_linea"></div>
        <div id="mesas_libres" class="bloque_mesas">
		<div class="label label-inverse titulo_menu">Sector 1</div>
		<div class="salto_linea"></div>
          <div id="mesa_01" class="mesa_item mesa_item2" numero_mesa="1" capacidad="5" tipo="mesa" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">01</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Mesa</div>
              <div class="label label-info mesa_info_titulo">5 personas</div>
            </div>
          </div>
          <div id="mesa_03" class="mesa_item mesa_item2" numero_mesa="3" capacidad="4" tipo="reservado" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">03</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Reservado</div>
              <div class="label label-info mesa_info_titulo">4 personas</div>
            </div>
          </div>
          <div id="mesa_05" class="mesa_item mesa_item2" numero_mesa="5" capacidad="1" tipo="barra" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">05</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Barra</div>
              <div class="label label-info mesa_info_titulo">1 persona</div>
            </div>
          </div>
		  <div class="salto_linea"></div>
		  		<div class="label label-inverse titulo_menu">Sector 2</div>
		<div class="salto_linea"></div>
          <div id="mesa_08" class="mesa_item mesa_item2" numero_mesa="8" capacidad="4" tipo="mesa" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">08</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Mesa</div>
              <div class="label label-info mesa_info_titulo">4 personas</div>
            </div>
          </div>
          <div id="mesa_15" class="mesa_item mesa_item2" numero_mesa="15" capacidad="8" tipo="mesa" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">15</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Mesa</div>
              <div class="label label-info mesa_info_titulo">8 personas</div>
            </div>
          </div>
          <div id="mesa_17" class="mesa_item mesa_item2" numero_mesa="17" capacidad="10" tipo="reservado" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">17</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Reservado</div>
              <div class="label label-info mesa_info_titulo">10 personas</div>
            </div>
          </div>
		  <div class="salto_linea"></div>
		  		<div class="label label-inverse titulo_menu">Sector 3</div>
		<div class="salto_linea"></div>
          <div id="mesa_18" class="mesa_item mesa_item2" numero_mesa="18" capacidad="5" tipo="mesa" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">18</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Mesa</div>
              <div class="label label-info mesa_info_titulo">5 personas</div>
            </div>
          </div>
          <div id="mesa_21" class="mesa_item mesa_item2" numero_mesa="21" capacidad="1" tipo="barra" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">21</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Barra</div>
              <div class="label label-info mesa_info_titulo">1 persona</div>
            </div>
          </div>
          <div id="mesa_23" class="mesa_item mesa_item2" numero_mesa="23" capacidad="5" tipo="reservado" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">23</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Reservado</div>
              <div class="label label-info mesa_info_titulo">5 personas</div>
            </div>
          </div>
          <div id="mesa_25" class="mesa_item mesa_item2" numero_mesa="25" capacidad="4" tipo="mesa" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">25</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Mesa</div>
              <div class="label label-info mesa_info_titulo">4 personas</div>
            </div>
          </div>
          <div id="mesa_27" class="mesa_item mesa_item2" numero_mesa="27" capacidad="1" tipo="barra" seleccionado="false">
            <div class="num_mesa">
              <div class="fondo_transparente badge badge-inverse">27</div>
            </div>
            <div class="mesa_info">
              <div class="label label-info mesa_info_titulo">Barra</div>
              <div class="label label-info mesa_info_titulo">1 persona</div>
            </div>
          </div>
        </div><!-- fin bloke de mesas//-->
      </div><!-- fin contenedor principal//-->
	  </div><!-- fin de contenedor secundario //-->
	  <div class="salto_linea"></div>
{% endblock %}

{% block script %}

<script>

$(document).ready(function(){
	$('.dropdown-toggle').dropdownHover(options);
});

</script>
{% endblock %}