{% extends "base_administrador.html" %}
{% block titulo %}Boru - Alta Estrategia Comanda{% endblock %}
{% block contenido %}


<div id="con_menu_mozo" class="cont_redondeado contenedor_principal_big">
    <div class="label label-inverse titulo_menu">Alta de Estrategia de Comanda</div>
    <br>

    <div class="salto_linea"></div>
    <div id="mesas_libres" class="bloque_mesas">
        <div class="salto_linea"></div>

        <!--Aca inicio contenido//-->
        <form action="" method="post" name="add_menu_diao" id="id_add_menu_dia">
            {{ formulario.non_field_errors }}


            <div class="contenefor_form_row">
                <div class="contenedor_texto"><span class="form_error_msg">*</span> Hora Inicio</div>
                <div class="contenedor_input">
                    {{ formulario.hora_inicio }}
                    <div class="form_error_msg">{{ formulario.vigente.errors|striptags }}</div>
                </div>
            </div>

            <div class="contenefor_form_row">
                <div class="contenedor_texto"><span class="form_error_msg">*</span> Hora Fin</div>
                <div class="contenedor_input">
                    {{ formulario.hora_fin }}
                    <div class="form_error_msg">{{ formulario.vigente.errors|striptags }}</div>
                </div>
            </div>

            {% csrf_token %}
            <div class="salto_linea"></div>
            <input type="submit" name="btn_add_mozo" id="btn_id_add_mozo" value="Alta Estrategia"
                   class="btn btn-large btn-primary">

        </form>
        <!-- Aca fin de contenido//-->

    </div>
    <!-- fin bloke de mesas//-->
    <div class="salto_linea"></div>
    <span class="form_error_msg">* Campos Obligatorios</span>
</div><!-- fin contenedor principal//-->

{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}