{% extends "base_administrador.html" %}
{% block titulo %}Boru - Consultar Facturas{% endblock %}
{% block contenido %}

<div id="con_menu_mozo" class="cont_redondeado contenedor_principal_big">
    <div class="label label-inverse titulo_menu">Consultar Facturas</div>
    <br>

    <div class="salto_linea"></div>
    <div id="mesas_libres" class="bloque_mesas">
        <div class="salto_linea"></div>

        <!--Aca inicio contenido//-->
        <form action="" method="post" name="add_menu_diao" id="id_add_menu_dia">
            {{ formulario.non_field_errors }}

            <div class="contenefor_form_row">
                <div class="contenedor_texto"><span class="form_error_msg">*</span> Fecha de Inicio</div>
                <div class="contenedor_input">
                    {{ formulario.fecha_Inicio }}
                    <div class="form_error_msg">{{ formulario.fecha_Inicio.errors|striptags }}</div>
                </div>
            </div>

            <div class="contenefor_form_row">
                <div class="contenedor_texto"><span class="form_error_msg">*</span> Fecha Final</div>
                <div class="contenedor_input">
                    {{ formulario.fecha_fin }}
                    <div class="form_error_msg">{{ formulario.fecha_fin.errors|striptags }}</div>
                </div>
            </div>

            {% csrf_token %}

            <input type="submit" name="btn_add_mozo" id="btn_id_add_mozo" value="Realizar Consulta"
                   class="btn btn-large btn-primary">

        </form>
        <!-- Aca fin de contenido//-->

    </div>
    <!-- fin bloke de mesas//-->
    <span class="form_error_msg">* Campos Obligatorios</span>

    {% if consulta %}
    <div class="descargar">
        <a href="{{STATIC_URL}}xlsx/{{nombre_archivo}}" title="Productos más vendidos" target="_blank">Guardar Informe
            <img width="15" class="guardar_informe" src="{{STATIC_URL}}img/conf/glyphicons_443_floppy_disk.png"> </a>

    </div>
    {% endif%}


</div>
<!-- fin contenedor principal//-->

{% endblock %}
{% block script %}
<script>
// Traducción al español
$(function($){
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        dateFormat: 'yy-mm-dd',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
});

$(document).ready(function(){

    {% if consulta %}

    $( ".descargar" ).fadeIn( 1000 );

    {% endif %}

    $("#id_fecha_Inicio").attr("readonly",true);
	$("#id_fecha_Inicio").datepicker();
	$("#id_fecha_fin").attr("readonly",true);
	$("#id_fecha_fin").datepicker();

});



</script>
{% endblock %}