{% extends "base_administrador.html" %}
{% block titulo %}Boru - Menu del Ejecutivo - Alta Exitosa{% endblock %}
{% block contenido %}

	  <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
        <div class="label label-inverse titulo_menu">Alta Menu Ejecutivo</div>
        <br>
        <div class="salto_linea"></div>
        <div id="mesas_libres" class="bloque_mesas">
        <div class="salto_linea"></div>
		
		<!--Aca inicio contenido//-->
		<h4>Menu Ejecutivo creado con exito!!!</h4>
		<br>
		<a href="{% url 'altamenuejecutivo' %}"><div class="label label-inverse pull-right">Volver</div></a>
		<!-- Aca fin de contenido//-->
				
		</div><!-- fin bloke de mesas//-->
      </div><!-- fin contenedor principal//-->
	  
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
	
	volver('{% url 'altamenuejecutivo' %}',1250);
});
</script>
{% endblock %}