{% for m in platos %}
<div class="items_seleccionados">
    <div class="listado_eliminar_mozo_item {% if not m.activo %}inactivo{% endif %}">


            <input type="checkbox" name="platos" class="check_add_plato" value="{{m.id}}" multiple checked>


        <div class="listado_item_campo_base listado_item_campo_06 flotar_iz" title="{{m.nombre|capfirst}}">
            {{m.nombre|capfirst|truncatechars:20}}
        </div>

        <div class="listado_item_campo_base listado_item_campo_03 flotar_iz" title="{{m.precio}}">
            {{m.precio}}
        </div>

        <div class="listado_item_campo_base listado_item_campo_03 flotar_iz" title="{{m.stock}}">
            {{m.stock}}
        </div>

    </div>
</div>
{% endfor %}