{% extends "base_administrador.html" %}
{% block titulo %}Boru - Alta Sector - Registro Exitoso{% endblock %}
{% block contenido %}

	  <div id="con_menu_mozo" class="cont_redondeado contenedor_principal">
        <div class="label label-inverse titulo_menu">Alta Sector</div>
        <br>
        <div class="salto_linea"></div>
        <div id="mesas_libres" class="bloque_mesas">
        <div class="salto_linea"></div>
		
		<!--Aca inicio contenido//-->
		<h4>El Sector se creo con exito!!!</h4>
		<br>
		<a href="{% url 'altasector' %}"><div class="label label-inverse pull-right">Volver</div></a>
		<!-- Aca fin de contenido//-->
				
		</div><!-- fin bloke de mesas//-->
      </div><!-- fin contenedor principal//-->
	  
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
	
	volver("{% url 'altasector' %}",1250);
});
</script>
{% endblock %}