{% for p in plato %}
            <div class="item">
                <div class="listado_modificar_mozo_item {% if not p.activo %}inactivo{% endif %}">

                    <div class="cargar_modificar_mozo" href="{% url 'stockplato_id' p.id %}">


                        <div class="listado_item_campo_base listado_item_campo_06 flotar_iz texto_iz"
                             title="Nombre: {{p.nombre}}">
                            {{p.nombre|truncatechars:15}}
                        </div>

                        <div class="listado_item_campo_base listado_item_campo_03_2 flotar_iz"
                             title="Stock: {{p.stock}}">
                            {{p.stock}}
                        </div>

                        <div class="listado_item_campo_base listado_item_campo_03 flotar_iz"
                             title="Precio. {{p.precio}}">
                            {{p.precio}}
                        </div>


                    </div>

                </div>
            </div>
            {% endfor %}
            <!-- fin listado de mozos//-->

<!-- inicio paginador //-->
{% if plato.paginator %}
<div class="pagination">
            <span class="step-links">
                {% if plato.has_previous %}
                    <a href="#" title=" < Anterior "><img src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"
                                                          onclick="paginarProductos({{ plato.previous_page_number }});"></a>
                {% endif %}

                <span class="current">
                    {{ plato.number }}<span class="paginado_de"> de {{ plato.paginator.num_pages }}</span>
                </span>

                {% if plato.has_next %}
                    <a href="#" title=" Siguiente > "><img src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"
                                                           onclick="paginarProductos({{ plato.next_page_number }});"></a>
                {% endif %}
            </span>
</div>
{% endif %}
<!-- fin paginador //-->
