{% extends "base_cajero.html" %}
{% block titulo %}Boru - Cajero{% endblock %}
{% block contenido %}

        <!-- inicio del buscador de mesas //-->
        <div id="buscador_de_mesas" class="buscador_de_mesas">

                    <form name="buscador_comandas_form" method="post" id="buscador_comandas_form" action="{% url 'buscar_mesa' %}">
                    <input class="buscador_comandas_input" type="text" name="numero">
                    <button class="btn buscador_comandas_btn" type="submit" name="buscar">Buscar Mesas</button>
                    {% csrf_token %}
                    </form>
        </div>
        <!-- fin del buscador de mesas //-->

        <div id="con_menu_mozo" class="cont_redondeado contenedor_principal_cajero">
            <div class="label label-inverse titulo_menu">{{titulo}}</div>
            <br>

            <div class="salto_linea"></div>
                <div id="mesas_libres" class="bloque_comandas">

                    <!-- ACA inicio codigo //-->
                    <div class="salto_linea"></div>

                    {{una_comanda}}

                    {{item_comandas_abiertas}}

                    {{item_pretickets}}

                    {{item_pedidos_pub}}

                    {{item_factura}}

                    {{resultados_busqueda}}

                    {{item_historico}}
                    <!-- ACA fin codigo //-->
                </div><!-- fin bloke de mesas//-->
        </div><!-- fin contenedor principal//-->
{% endblock %}

{% block script %}
<script>
// Traducción al español
$(function($){
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        dateFormat: 'yy-mm-dd',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
});


function enviarFormPaginado(id_form,id_paginado,pagina){

    $("#"+id_paginado).val(pagina);
    $("#"+id_form).submit();
}


function ir(uri,msg){
    $("#modalCargando").modal("show");
    $(".mensajeModal").html(msg);

    if(uri != false)
        document.location.href = uri;
}

function mostrarDetalleComanda(id_comanda){

    $.ajax({
        type: "GET",
        url: "{% url 'detalle_comanda_ajax' %}",
        data: "id_comanda="+id_comanda,
        success: function(datos){

            $('.modal-titulo').html("Comanda Nº "+id_comanda);
            $('.modal-body').html(datos);
            $('#myModal').modal("show")
          }
    });
}

function mostrarDetallePedido(id_comanda){

    $.ajax({
        type: "GET",
        url: "{% url 'detalle_comanda_ajax' %}",
        data: "id_comanda="+id_comanda,
        success: function(datos){

            $('.modal-titulo').html("Pedido Nº "+id_comanda);
            $('.modal-body').html(datos);
            $('#myModal').modal("show")
          }
    });
}

function mostrarDetallePreticket(id_preticket){

    $.ajax({
        type: "GET",
        url: "{% url 'detalle_preticket_ajax' %}",
        data: "id_preticket="+id_preticket,
        success: function(datos){

            $('.modal-titulo').html("Preticket Nº "+id_preticket);
            $('.modal-body').html(datos);
            $('#myModal').modal("show")
          }
    });
}


function editarDetallePreticket(id_preticket){

    $.ajax({
        type: "GET",
        url: "{% url 'editar_detalle_preticket_ajax' %}",
        data: "id_preticket="+id_preticket,
        success: function(datos){

            $('.modal-titulo').html("Editar Preticket Nº "+id_preticket);
            $('.modal-body-preticket').html(datos);
            $('#myModalPreticket').modal("show")
          }
    });

}

function mostrarDetalleFactura(id_factura){

    $.ajax({
        type: "GET",
        url: "{% url 'detalle_factura_ajax' %}",
        data: "id_factura="+id_factura,
        success: function(datos){

            $('.modal-titulo').html("Factura Nº "+id_factura);
            $('.modal-body').html(datos);
            $('#myModal').modal("show")
          }
    });
}


function pollingComandas(){

    $.ajax({
        type: "GET",
        url: "{% url 'polling_comandas' %}",
        success: function(datos){

            var comanda_arreglo = datos.split(";");

            //parseo comandas
            var cantComandas=parseInt($(comanda_arreglo[0], "#comanda_nueva").html());
            var cantPedidos=parseInt($(comanda_arreglo[1], "#pedido_nuevo").html());


            if(cantComandas != 0){
                $("#comandas_nuevas").html(comanda_arreglo[0]);
                titulo(" - Comanda\\s ("+cantComandas+")");
            }
            if(cantPedidos != 0){
                $("#pedidos_nuevos").html(comanda_arreglo[1]);
                titulo(" - Pedido\\s ("+cantPedidos+")");
            }

            if(cantComandas == 0 && cantPedidos == 0){
                $("#comandas_nuevas").html("");
                $("#pedidos_nuevos").html("");
                titulo(" ");
            }

        }
    });

}



function comandaVista(id_comanda){

    $.ajax({
        type: "GET",
        url: "{% url 'comanda_vista' %}",
        data:"id_comanda="+id_comanda,
        async:false,
        success: function(datos){
            pollingComandas();
        }
    });
}



function titulo(str){
    var titulo = $("title").html("Boru - Cajero "+str);
}

$(document).ready(function(){

pollingComandas();
var revisar_comandas = setInterval(function(){pollingComandas()},5000);


    $(".comandas_abiertas_nuevas").each(function(i){

        $(this).mouseover(function(event){

            if($(this).attr("estado")=="False"){
                comandaVista($(this).attr("rel"));
            }

        });
    });

    $(".pedidos_nuevos").each(function(i){

        $(this).mouseover(function(event){

            if($(this).attr("estado")=="False"){
                comandaVista($(this).attr("rel"));
            }

        });
    });
});

function colapsar(id){
 $("#"+id).toggle(1000);

 $("#arrow_toggle").toggleClass( "toggle_arrow_up" );
}

    $("#id_criterio_listado").on('change',function(){
        $("#id_historico_page").val(1);
    });

    $("#id_fecha_Inicio").attr("readonly",true);
	$("#id_fecha_Inicio").datepicker();
	$("#id_fecha_fin").attr("readonly",true);
	$("#id_fecha_fin").datepicker();


</script>
{% endblock %}