<!-- inicio paginador //-->
<div class="paginacion_comandas">
    <span class="step-links">
        {% if listado.has_previous %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.previous_page_number}});" href="#" title=" < Anterior "><img
                    src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"></a>
        {% endif %}

        {% if listado.number %}
        <span class="current">
            {{ listado.number }}<span class="paginado_de"> de {{ listado.paginator.num_pages }}</span>
        </span>
        {% endif %}

        {% if listado.has_next %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.next_page_number}});" href="#" title=" Siguiente > "><img
                    src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"></a>
        {% endif %}
    </span>
</div>
<!-- fin paginador //-->
{% for p in listado %}
<!--inicio comanda abierta item //-->
<div class="fecha_buscador">{{fecha_del_dia}}</div>
<div class="contenedor_comanda_item comandas_abiertas_nuevas">
    <div class="comanda_numero">Comanda Abierta Nº {{ p.id }}</div>
    <div class="contenedor_comanda_data">
        <div class="comanda_fecha">Fecha: {{ p.fecha }} {{ p.hora }} {% if not p.vista %}<span
                class="label label-important">Nueva</span>{% endif %}
        </div>
        <div class="comanda_mozo flotar_der label label-warning">Mozo: {{p.mozo|capfirst}}</div>
        <div class="comanda_mesas">
            Mesas:
            {% for m in p.mesas.all %}
            <span class="badge badge-warning">{{ m.id }}</span>
            {% endfor %}
        </div>
        <div class="comanda_total">Importe Adeudado: {{ p.total }}</div>
        <div class="linea"></div>
        <div class="comanda_btn">

            {% if not p.cerrada %}
            <input type="button" class="btn btn-small" value="Cerrar Comanda"
                   onClick="ir('{% url 'cerrar_comanda' p.id %}','&bull; Cerrando Comanda<br><br>&bull; Generando Preticket<br><br>');">
            {% else %}

                {% if not p.preticket %}
                <input type="button" class="btn btn-small" value="Generar Preticket"
                       onClick="ir('{% url 'generar_preticket' p.id %}');">
                {% endif %}

            {% endif %}
            <input type="button" class="btn btn-small" value="Detalle Comanda"
                   onClick="mostrarDetalleComanda({{p.id}});">
        </div>
    </div>
</div>
<div class="salto_linea"></div>
<!--fin comanda abierta item //-->
{% endfor %}
        <br>
<!-- inicio paginador //-->
<div class="flotar_der">
    <span class="step-links">
        {% if listado.has_previous %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.previous_page_number}});" href="#" title=" < Anterior "><img
                    src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"></a>
        {% endif %}

        {% if listado.number %}
        <span class="current">
            {{ listado.number }}<span class="paginado_de"> de {{ listado.paginator.num_pages }}</span>
        </span>
        {% endif %}

        {% if listado.has_next %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.next_page_number}});" href="#" title=" Siguiente > "><img
                    src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"></a>
        {% endif %}
    </span>
</div>
<!-- fin paginador //-->
