<!-- inicio paginador //-->
<div class="paginacion_comandas">
    <span class="step-links">
        {% if listado.has_previous %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.previous_page_number}});" href="#" title=" < Anterior "><img
                    src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"></a>
        {% endif %}

        {% if listado.number %}
        <span class="current">
            {{ listado.number }}<span class="paginado_de"> de {{ listado.paginator.num_pages }}</span>
        </span>
        {% endif %}

        {% if listado.has_next %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.next_page_number}});" href="#" title=" Siguiente > "><img
                    src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"></a>
        {% endif %}
    </span>
</div>
<!-- fin paginador //-->
{% for p in listado %}
<!--inicio comanda abierta item //-->
<div class="fecha_buscador">{{fecha_del_dia}}</div>
<div class="contenedor_comanda_item comandas_abiertas_nuevas">
    <div class="comanda_numero">Comanda Cerrada Nº {{ p.id }}</div>
    <div class="contenedor_comanda_data">
        <div class="comanda_fecha">Fecha: {{ p.fecha }} {{ p.hora }}
        </div>
        <div class="comanda_mozo flotar_der label">Mozo: {{p.mozo|capfirst}}</div>
        <div class="comanda_mesas">
            Mesas:
            {% for m in p.mesas.all %}
            <span class="badge">{{ m.id }}</span>
            {% endfor %}
        </div>
        <div class="comanda_total">Importe Adeudado: {{ p.total }}</div>
        <div class="linea"></div>
        <div class="comanda_btn">


                {% if p.preticket.factura %}

                    {% if p.preticket.factura.pago %}
                        <input type="button" class="btn btn-small factura_pagada_btn" value="Factura Pagada" disabled>
                    {% else %}
                        <input type="button" class="btn btn-small" value="Relizar pago"
                   onClick="ir('{% url 'pagar_factura' p.preticket.factura.id p.id %}','&bull; Generando Pago<br><br>');">
                    {% endif %}

                <input type="button" class="btn btn-small" value="Ver Factura"
                   onClick="mostrarDetalleFactura({{p.preticket.factura.id}});">

                {% endif %}

                <input type="button" class="btn btn-small" value="Ver Preticket"
                   onClick="mostrarDetallePreticket({{p.preticket.id}});">

            <input type="button" class="btn btn-small" value="Detalle Comanda"
                   onClick="mostrarDetalleComanda({{p.id}});">
        </div>
    </div>
</div>
<div class="salto_linea"></div>
<!--fin comanda abierta item //-->
{% endfor %}
        <br>
<!-- inicio paginador //-->
<div class="flotar_der">
    <span class="step-links">
        {% if listado.has_previous %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.previous_page_number}});" href="#" title=" < Anterior "><img
                    src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"></a>
        {% endif %}

        {% if listado.number %}
        <span class="current">
            {{ listado.number }}<span class="paginado_de"> de {{ listado.paginator.num_pages }}</span>
        </span>
        {% endif %}

        {% if listado.has_next %}
            <a onclick="enviarFormPaginado('form_historico','id_historico_page',{{listado.next_page_number}});" href="#" title=" Siguiente > "><img
                    src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"></a>
        {% endif %}
    </span>
</div>
<!-- fin paginador //-->
