<!-- inicio paginador //-->
<div class="paginacion_comandas">
    <span class="step-links">
        {% if pretickets.has_previous %}
            <a href="{% url 'pretickets' pretickets.previous_page_number %}" title=" < Anterior "><img
                    src="{{STATIC_URL}}img/glyphicons_224_chevron-left.png"></a>
        {% endif %}

        {% if pretickets.number %}
        <span class="current">
            {{ pretickets.number }}<span class="paginado_de"> de {{ pretickets.paginator.num_pages }}</span>
        </span>
        {% endif %}

        {% if pretickets.has_next %}
            <a href="{% url 'pretickets' pretickets.next_page_number %}" title=" Siguiente > "><img
                    src="{{STATIC_URL}}img/glyphicons_223_chevron-right.png"></a>
        {% endif %}
    </span>
</div>
<!-- fin paginador //-->
{% for p in pretickets %}
<!--inicio pretickets item //-->
<div class="fecha_buscador">{{fecha_del_dia}}</div>
<div class="contenedor_comanda_item">
    <div class="preticket_numero">Preticket Nº {{p.id}}</div>
    <div class="contenedor_ticket_data">
        <div class="comanda_fecha">Fecha: {{ p.fecha }} {{ p.hora }}</div>
        <div class="comanda_mozo flotar_der label">Mozo: {{p.comanda.mozo|capfirst}}</div>
        <div class="comanda_mesas">
            Mesas:
            {% for m in p.comanda.mesas.all %}
            <span class="badge badge-success">{{ m.id }}</span>
            {% endfor %}
        </div>
        <div class="comanda_total">Importe Adeudado: {{ p.total_preticket }}</div>
        <div class="linea"></div>
        <div class="comanda_btn">

            {% if p.factura and not p.factura.pago %}
            <input type="button" class="btn btn-small" value="Relizar pago"
                   onClick="ir('{% url 'pagar_factura' p.factura.id p.comanda.id %}','&bull; Generando Pago<br><br>');">
            {% endif %}
            {% if p.factura and p.factura.pago %}
            <input type="button" class="btn btn-small factura_pagada_btn" value="Factura Pagada" disabled>
            {% endif %}

            {% if not p.factura %}
            <input type="button" class="btn btn-small" value="Generar Factura"
                   onClick="ir('{% url 'generar_factura' p.id p.comanda.id %}','&bull; Generando Factura<br><br>');">
            {% else %}
            <input type="button" class="btn btn-small" value="Ver Factura"
                   onClick="mostrarDetalleFactura({{p.factura.id}});">
            {% endif %}
            <input type="button" class="btn btn-small" value="Ver Comanda"
                   onClick="mostrarDetalleComanda({{p.comanda.id}});">
            <input type="button" class="btn btn-small" value="Detalle Preticket"
                   onClick="mostrarDetallePreticket({{p.id}});">
            {% if not p.factura %}
            <button class="btn btn-small" value="Editar"
                   onClick="editarDetallePreticket({{p.id}});" title="Editar Preticket"><img width="17" src="{{STATIC_URL}}img/conf/glyphicons_150_edit.png"></button>
            {% endif %}
        </div>
    </div>
</div>
<div class="salto_linea"></div>
<!--fin pretickets item //-->
        {% empty %}
<div class="sin_resultados">Por el momento no hay pretickets.</div>
{% endfor %}