<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block titulo %}{% endblock %}</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"  type="text/css" media="all" />
<link rel="stylesheet" href="{{STATIC_URL}}css/boru.css"  type="text/css" media="all" />
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-cookie.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/funciones.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/twitter-bootstrap-hover-dropdown.min.js"></script>
</head>
<body>
<div id="contenedor">
  
  <div id="cabecera" class="cont_cabecera_cjr"><img src="{{STATIC_URL}}img/boru_logo2.png" width="120"></div>
  
  <div id="cuerpo">
  <!-- inicio del contenido de la pagina -->
      
    <!--inicio de nav bar //-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="usuario_log_fix">
            <div class="icon-user"></div>
            <div class="label label-inverse" id="nombre_usuario">{{user}}</div>
          </div>
          <ul class="nav">
      
      <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"> Comandas <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><a href="#">Comandas Abiertas</a></li>
              <li><a href="#">Comandas Cerradas</a></li>
              <li><a href="#">Archivo Comandas</a></li>
            </ul>
          </li>
      
      
            <li><a href="#">Pedidos</a></li>
      <li><a href="#">Pretickets</a></li>
            <li><a href="#">Facturas</a></li>
            <li><a href="#">Listados</a></li>
          </ul>
          <div class="cerrar_sesion_fix" id="cerrar_sescion_actual">
            <a href="{% url 'logout' %}" target="_self">
              <div class="label label-inverse">
                &nbsp;&nbsp;Cerrar Sesion&nbsp;&nbsp;
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- fin de nav bar //-->
    
    <!-- inicio contenedor principal izq//-->
    <div class="contenedor_principal_izq">
    {% if perms.Administrador.is_admin %}
    <div class="mesas_seleccionadas">
        <div class="label label-inverse mesa_seleccionada_item">Accesos Directos</div>
        <div class="mesas">
          <!-- inicio mesas selecionadas //-->
          <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_cjr">
            <div class="contenedor_texto_link"> <a href="{% url 'administrador' %}" target="_self">Panel de Adm</a> </div>
          </div>
          <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_cjr">
            <div class="contenedor_texto_link"> <a href="{% url 'mozo' %}" target="_self">Panel de Mozo</a> </div>
          </div>
          <!-- fin mesas selecionadas //-->
        </div>
    </div>
    {% endif %}
    <!-- div puesto solo para mantener el ancho del contenedor izq//-->
    <div class="mesas_seleccionadas cont_" style="visibility:hidden;">&nbsp</div>
    </div>
    <!-- fin contenedor principal izq//-->
    
    
      <!-- inicio contenedor principal centro//-->
    <div class="contenedor_principal_centro">

    <!-- INICIO CONTENIDO WEB //-->
    {% block contenido %}{% endblock %}
    <!-- FIN CONTENIDO WEB //-->
    
    <div class="salto_linea"></div>
      </div><!-- fin contenedor principal centro//-->
    
          
  <!-- fin del contenido de la pagina -->
  </div>
  <div class="salto_linea"></div>
</div>
<!-- Modal cuerpo comanda //-->
<div class="hide bloque_final" id="15236548">
      <div class="salto_linea"></div>
      <div class="label label-inverse titulo_menu">Comensales</div>
      <div class="salto_linea"></div>
      <div class="comanda_info">Cantidad de comensales: 5</div>
      <div class="salto_linea"></div>
  
      <div class="salto_linea"></div>
      <div class="label label-inverse titulo_menu">Mesas Seleccionadas</div>
      <div class="salto_linea"></div>
      <div class="comanda_info">Mesas: 1 3 5</div>
      <div class="salto_linea"></div>
      
      <div class="salto_linea"></div>
      <div class="label label-inverse titulo_menu">Menu</div>
      <div class="salto_linea"></div>
          <div class="comanda_info">Coca cola 1 $15</div>
          <div class="salto_linea"></div>
          <div class="comanda_info">Sprite 2 $15</div>
          <div class="salto_linea"></div>
          <div class="comanda_info">Quilmes 1 $35</div>
          <div class="salto_linea"></div>
          <div class="comanda_info">Pizza Completa 1 $45</div>
          <div class="salto_linea"></div>
          <div class="comanda_info">Pizza Calabresa 1 $50</div>
          <div class="salto_linea"></div>
          <br>
          <div class="label label-inverse">Importe Total: <span id="total_comensales">$175</span></div>
          <div class="salto_linea"></div>
</div>  
<!-- Fin Modal cuerpo //-->
<!-- Modal -->
<div id="myModal" class="comanda_detalle_modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" class="modal-titulo"></h3>
  </div>
  <div class="modal-body"> </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>
<!-- Fin Modal -->
{% block script %}{% endblock %}
</body>
</html>