<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block titulo %}{% endblock %}</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.10.3.custom.css"  type="text/css" media="all" />
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.hotkeys.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/funciones.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/twitter-bootstrap-hover-dropdown.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"  type="text/css" media="all" />
<link rel="stylesheet" href="{{STATIC_URL}}css/boru.css"  type="text/css" media="all" />
<link rel='shortcut icon' href="{{STATIC_URL}}img/favicon.ico">
</head>
<body>
<div id="contenedor">
    <div id="cabecera" class="cont_cabecera"><img src="{{STATIC_URL}}img/boru_logo2.png" width="120"></div>
    <div id="cuerpo">
        <div id="cuerpo_up"></div>
        <div id="cuerpo_medio">

            <!--inicio de nav bar //-->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="usuario_log_fix">
                        <div class="icon-user"></div>
                        <div class="label label-inverse" id="nombre_usuario">{{user}}</div>
                    </div>
                    {% if not miscomandas %}
                        <ul class="nav">
                            <li class="{%if crear_comanda %}active{% endif %}">
                                <a href="#">Crear Comanda
                                {%if crear_comanda %}
                                <b class="caret"></b>
                                {% endif %}
                                </a>
                            </li>

                            <li  class="{%if seleccionar_mesa %}active{% endif %}">
                                <a href="#">Seleccionar Mesas
                                {%if seleccionar_mesa %}
                                <b class="caret"></b>
                                {% endif %}
                                </a>
                            </li>

                            <li class="{%if seleccionar_menu %}active{% endif %}">
                                <a href="#">Seleccionar Menu
                                {%if seleccionar_menu %}
                                <b class="caret"></b>
                                {% endif %}
                                </a>
                            </li>

                            <li class="{%if finalizar %}active{% endif %}">
                                <a href="#">Finalizar
                                {%if finalizar %}
                                <b class="caret"></b>
                                {% endif %}
                                </a>
                            </li>
                        </ul>
                        {% else %}
                            <ul class="nav">
                            <li>
                                <a href="{% url 'mozo' %}">Crear Comanda </a>
                            </li>
                            </ul>
                            <ul class="nav">
                            <li class="{%if miscomandas %}active{% endif %}">
                                <a href="{% url 'miscomandas' %}">Mis Comandas
                                {%if miscomandas %}
                                <b class="caret"></b>
                                {% endif %}
                                </a>
                            </li>
                            </ul>
                        {% endif %}
                    <div class="cerrar_sesion_fix" id="cerrar_sescion_actual">
                        <a href="{% url 'logout' %}" target="_self">
                            <div class="label label-inverse">
                                &nbsp;&nbsp;Cerrar Sesion&nbsp;&nbsp;
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- fin de nav bar //-->

            <!-- inicio contenedor principal izq//-->
            <div class="contenedor_principal_izq">
                {% if perms.Administrador.is_admin %}
                <div class="mesas_seleccionadas">
                    <div class="label label-inverse mesa_seleccionada_item">Accesos Directos</div>
                    <div>
                        <!-- inicio link admin //-->
                        <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_mozo">
                            <div class="contenedor_texto_link"><a href="{% url 'administrador' %}" target="_self">Panel
                                de Adm</a></div>
                        </div>
                        <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_mozo">
                            <div class="contenedor_texto_link"><a href="{% url 'cajero' %}" target="_self">Panel de
                                Cajero</a></div>
                        </div>
                        <!-- fin link admin //-->
                    </div>
                </div>
                {% endif %}

                {% if perms.Administrador.is_cajero and not perms.Administrador.is_admin%}
            <div class="mesas_seleccionadas">
                <div class="label label-inverse mesa_seleccionada_item">Accesos Directos</div>

                    <!-- inicio mesas selecionadas //-->

                    <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_mozo">
                            <div class="contenedor_texto_link"><a href="{% url 'cajero' %}" target="_self">Panel de
                                Cajero</a></div>
                        </div>
                    <!-- fin mesas selecionadas //-->
            </div>
            {% endif %}

                <div class="platos">
                    {{panel_seleccionar_mesa}}
                </div>

                <!-- div puesto solo para mantener el ancho del contenedor izq//-->
                <div class="mesas_seleccionadas cont_" style="visibility:hidden;">&nbsp</div>
            </div>
            <!-- fin contenedor principal izq//-->

            <!-- inicio contenedor principal centro//-->
            <div class="contenedor_principal_centro">

                <!-- INICIO CONTENIDO WEB //-->
                {% block contenido %}{% endblock %}
                <!-- FIN CONTENIDO WEB //-->

                <div class="salto_linea"></div>
            </div>
            <!-- fin contenedor principal centro//-->
        </div>
        <!-- fin contenedor cuerpo medio //-->
        <div id="cuerpo_down"></div>
    </div>
</div>

<!-- Modal cargado-->
<div id="modalCargando" class="modal hide">
    <div class="procesando">
        <div class="flotar_iz"><img src="{{STATIC_URL}}img/conf/loading.gif"></div>
        <div class="flotar_der">Procesando Peticion ...</div>
        <div class="mensajeModal flotar_der"></div>
        <br>
    </div>
</div>
<!-- Fin Modal cargando-->


<!-- Modal -->
<div id="myModal" class="comanda_detalle_modal modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="modal-titulo"></h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" title="Imprimir" onclick="print();">
            <img width="20" src="{{STATIC_URL}}img/conf/glyphicons_015_print.png" title="Imprimir">
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div>
<!-- Fin Modal -->


<!-- Modal Comanda-->
<div id="myModalComanda" class="comanda_detalle_modal modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel2" class="modal-titulo"></h3>
    </div>
    <div class="modal-body modal-body-comanda"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" title="Guardar" onclick="guardarComanda();">
        Guardar Comanda
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div>
<!-- Fin Modal Preticket -->


{% block script %}{% endblock %}
</body>
</html>
