<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block titulo %}{% endblock %}</title>
<link rel="stylesheet" href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.10.3.custom.css"  type="text/css" media="all" />
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.hotkeys.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/funciones.js"></script>
<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/twitter-bootstrap-hover-dropdown.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css"  type="text/css" media="all" />
<link rel="stylesheet" href="{{STATIC_URL}}css/boru.css"  type="text/css" media="all" />
<link rel='shortcut icon' href="{{STATIC_URL}}img/favicon.ico">

</head>
<body>
<div id="contenedor">
 
  <div id="cabecera" class="cont_cabecera_adm nombreSeccion">
      <a href="{% url 'administrador' %}"><img src="{{STATIC_URL}}img/boru_logo2.png" width="120"></a>
  </div>
  
  <div id="cuerpo">
  <!-- inicio del contenido de la pagina -->
      
	  <!--inicio de nav bar //-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="usuario_log_fix">
            <div class="icon-user"></div>
            <div class="label label-inverse" id="nombre_usuario">{{user}}</div>
          </div>
          <ul class="nav">
          
		    <!-- menu mozos //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Mozos <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'altamozo' %}"><span class="atajo_teclado" title="Atajo de Teclado Shift+A">A</span>lta Mozos</a></li>
					<li><a href="{% url 'modificarmozo' %}">Modificar Mo<span class="atajo_teclado" title="Atajo de Teclado Shift+Z">z</span>os</a></li>
					<li><a href="{% url 'eliminarmozo' %}"><span class="atajo_teclado" title="Atajo de Teclado Shift+E">E</span>liminar Mozos</a></li>
				</ul>
			</li>
			<!-- fin menu mozos //-->
		    
			
			
		    <!-- menu mesa //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Mesas <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'altamesa' %}">Alta Me<span class="atajo_teclado" title="Atajo de Teclado Shift+S">s</span>a</a></li>
					<li><a href="{% url 'modificarmesa' %}">M<span class="atajo_teclado" title="Atajo de Teclado Shift+O">o</span>dificar Mesa</a></li>
				</ul>
			</li>
			<!-- fin menu mesa //-->
			
		    <!-- menu sector //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Sectores <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'altasector' %}">Alta Se<span class="atajo_teclado" title="Atajo de Teclado Shift+C">c</span>tor</a></li>
					<li><a href="{% url 'modificarsector' %}">Modificar Sec<span class="atajo_teclado" title="Atajo de Teclado Shift+T">t</span>or</a></li>
				</ul>
			</li>
			<!-- fin menu sector //-->
			

		    <!-- menu productos //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Productos <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'altabebida' %}">Alta <span class="atajo_teclado" title="Atajo de Teclado Shift+B">B</span>ebida</a></li>
					<li><a href="{% url 'modificarbebida' %}">Mo<span class="atajo_teclado" title="Atajo de Teclado Shift+D">d</span>ificar Bebida</a></li>
					<div class="divider"></div>
					<li><a href="{% url 'altaplato' %}">Alta <span class="atajo_teclado" title="Atajo de Teclado Shift+P">P</span>lato</a></li>
					<li><a href="{% url 'modificarplato' %}">Modi<span class="atajo_teclado" title="Atajo de Teclado Shift+F">f</span>icar Plato</a></li>
				</ul>
			</li>
			<!-- fin menu productos //-->
			
            
		    <!-- menu menues //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Menues <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				
					<li><a href="{% url 'altamenudia' %}">A<span class="atajo_teclado" title="Atajo de Teclado Shift+L">l</span>ta Menu del Dia</a></li>
					<li><a href="{% url 'modificarmenudia' %}">Mod<span class="atajo_teclado" title="Atajo de Teclado Shift+I">i</span>ficar Menu del Dia</a></li>
					<div class="divider"></div>

					<li><a href="{% url 'altamenuejecutivo' %}">Alta Menu E<span class="atajo_teclado" title="Atajo de Teclado Shift+J">j</span>ecutivo</a></li>
					<li><a href="{% url 'modificarmenuejecutivo' %}">Modificar Men<span class="atajo_teclado" title="Atajo de Teclado Shift+U">u</span> Ejecutivo</a></li>
					
				</ul>
			</li>
			<!-- fin menu menues //-->
			
            <!-- menu carta //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Carta <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				    <li><a href="{% url 'altacarta' %}">Alta Ca<span class="atajo_teclado" title="Atajo de Teclado Shift+R">r</span>ta</a></li>
					<li><a href="{% url 'altaseccion' %}">Crear Seccio<span class="atajo_teclado" title="Atajo de Teclado Shift+N">n</span> Carta</a></li>
					<li><a href="{% url 'modificarseccion' %}"><span class="atajo_teclado" title="Atajo de Teclado Shift+M">M</span>odificar Seccion Carta</a></li>
				</ul>
			</li>
			<!-- fin menu carta //-->
			
            <!-- menu stock //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Stock <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				
					<li><a href="{% url 'stockplato' %}">Incrementar / Decrementar Stoc<span class="atajo_teclado" title="Atajo de Teclado Shift+K">k</span> Plato</a></li>
                    <li><a href="{% url 'stockbebida' %}">Incrementar<span class="atajo_teclado" title="Atajo de Teclado Shift+/"> / </span>Decrementar Stock Bebida</a></li>
					
				</ul>
			</li>
			<!-- fin menu pretickets //-->
			
			
            <!-- menu clientes //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Usuarios <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">

				    <li><a href="{% url 'registrousuarios' %}">Re<span class="atajo_teclado" title="Atajo de Teclado Shift+G">g</span>istro de Usuarios</a></li>
					<li><a href="{% url 'modificarusuarios' %}">Modificar Usuarios</a></li>
				</ul>
			</li>
			<!-- fin menu clientes //-->


              <!-- menu listados //-->
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					Extras <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">

				    <li><a href="{% url 'listarImprimir' %}" target="_blank">E<span class="atajo_teclado" title="Atajo de Teclado Shift+X">x</span>portar Carta a PDF</a></li>
                    <li><a href="{% url 'consulta+vendidos' %}">Estadisticas de <span class="atajo_teclado" title="Atajo de Teclado Shift+V">V</span>entas</a></li>
                    <li><a href="{% url 'consultaFacturas' %}">Consultar<span class="atajo_teclado" title="Atajo de Teclado Shift+Space">&nbsp;</span>Facturas</a></li>
				</ul>
			</li>
			<!-- fin menu clilistadosentes //-->

          
		  </ul>
          <div class="cerrar_sesion_fix" id="cerrar_sescion_actual">
            <a href="{% url 'logout' %}" target="_self">
            	<div class="label label-inverse">
            		&nbsp;&nbsp;Cerrar Sesion&nbsp;&nbsp;
            	</div>
            </a>
            <a href="#" onclick="ayudaContextual();" title="F1 para Ayuda en linea">
              <img src="{{STATIC_URL}}img/conf/glyphicons_194_circle_question_mark.png">
            </a>
          </div>
        </div>
      </div>
      <!-- fin de nav bar //-->
	  
	  <!-- inicio contenedor principal izq//-->
	  <div class="contenedor_principal_izq">
		  <div class="mesas_seleccionadas">
			<div class="label label-inverse mesa_seleccionada_item">Accesos Directos</div>
			<div class="mesas">
			  <!-- inicio mesas selecionadas //-->
			  <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_adm">
			  <div class="contenedor_texto_link">
			  <a href="{% url 'mozo' %}" target="_self">Panel de <span class="atajo_teclado" title="Atajo de Teclado Alt+M">M</span>ozo</a>
			  </div>
			  </div>
			  
			  <div class="label label-success mesa_seleccionada_item mesa_seleccionada_item_adm">
			  <div class="contenedor_texto_link">
			  <a href="{% url 'cajero'%}" target="_self">Panel de <span class="atajo_teclado" title="Atajo de Teclado Alt+C">C</span>ajero</a>
			  </div>
			  </div>
			  <!-- fin mesas selecionadas //-->
			</div>
		  </div>
      </div>
	  <!-- fin contenedor principal izq//-->
	  
	  
  	  <!-- inicio contenedor principal centro//-->
	  <div class="contenedor_principal_centro">
	  
	  
		<!-- INICIO CONTENIDO WEB //-->
		{% block contenido %}{% endblock %}
		<!-- FIN CONTENIDO WEB //-->

	  
	  <div class="salto_linea"></div>
      </div><!-- fin contenedor principal centro//-->
	  
      	  
  <!-- fin del contenido de la pagina -->
  </div>
  <div class="salto_linea"></div>
</div>



<!-- Modal Ayuda-->
<div id="myModalAyuda" class="modal_ventana_ayuda modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel2" class="modal-titulo"><img src="{{STATIC_URL}}img/conf/glyphicons_194_circle_question_mark.png"> Ayuda en linea
</h3>
    </div>
    <div class="modal-body modal-body-ayuda"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div>
<!-- Fin Modal Ayuda -->

<script>
function ayudaContextual(){

var uri = location.href;
var pattern = /administrador\/([a-zA-Z]*)/
var fuente;
fuente = pattern.exec(uri);

    $.ajax({
        type: "GET",
        url: "{% url 'ayudaContextual' %}",
        data: "fuente="+fuente[1],
        success: function(datos){

            $('.modal-body-ayuda').html(datos);
            $('#myModalAyuda').modal("show");
          }
    });
}

function irAtajos(uri){
        document.location.href = uri;
}

$(document).ready(function(){

    $(document).bind('keydown', 'f1',function (evt){ayudaContextual(); return false; });


    //atajos de teclado
    //mozos
    $(document).bind('keydown', 'Shift+a',function (evt){irAtajos("{% url 'altamozo' %}"); return false; });
    $(document).bind('keydown', 'Shift+z',function (evt){irAtajos("{% url 'modificarmozo' %}"); return false; });
    $(document).bind('keydown', 'Shift+e',function (evt){irAtajos("{% url 'eliminarmozo' %}"); return false; });
    //mesas
    $(document).bind('keydown', 'Shift+s',function (evt){irAtajos("{% url 'altamesa' %}"); return false; });
    $(document).bind('keydown', 'Shift+o',function (evt){irAtajos("{% url 'modificarmesa' %}"); return false; });
    //sector
    $(document).bind('keydown', 'Shift+c',function (evt){irAtajos("{% url 'altasector' %}"); return false; });
    $(document).bind('keydown', 'Shift+t',function (evt){irAtajos("{% url 'modificarsector' %}"); return false; });
    //productos
    $(document).bind('keydown', 'Shift+b',function (evt){irAtajos("{% url 'altabebida' %}"); return false; });
    $(document).bind('keydown', 'Shift+d',function (evt){irAtajos("{% url 'modificarbebida' %}"); return false; });
    $(document).bind('keydown', 'Shift+p',function (evt){irAtajos("{% url 'altaplato' %}"); return false; });
    $(document).bind('keydown', 'Shift+f',function (evt){irAtajos("{% url 'modificarplato' %}"); return false; });
    //menues
    $(document).bind('keydown', 'Shift+l',function (evt){irAtajos("{% url 'altamenudia' %}"); return false; });
    $(document).bind('keydown', 'Shift+i',function (evt){irAtajos("{% url 'modificarmenudia' %}"); return false; });
    $(document).bind('keydown', 'Shift+j',function (evt){irAtajos("{% url 'altamenuejecutivo' %}"); return false; });
    $(document).bind('keydown', 'Shift+u',function (evt){irAtajos("{% url 'modificarmenuejecutivo' %}"); return false; });
    //carta
    $(document).bind('keydown', 'Shift+r',function (evt){irAtajos("{% url 'altacarta' %}"); return false; });
    $(document).bind('keydown', 'Shift+n',function (evt){irAtajos("{% url 'altaseccion' %}"); return false; });
    $(document).bind('keydown', 'Shift+m',function (evt){irAtajos("{% url 'modificarseccion' %}"); return false; });
    //stock
    $(document).bind('keydown', 'Shift+k',function (evt){irAtajos("{% url 'stockplato' %}"); return false; });
    $(document).bind('keydown', 'Shift+/',function (evt){irAtajos("{% url 'stockbebida' %}"); return false; });
    //usuarios
    $(document).bind('keydown', 'Shift+g',function (evt){irAtajos("{% url 'registrousuarios' %}"); return false; });
    //extras
    $(document).bind('keyup', 'Shift+x',function (evt){
        window.open("{% url 'listarImprimir' %}", '_blank');
        ; return false;
    });
    $(document).bind('keydown', 'Shift+v',function (evt){irAtajos("{% url 'consulta+vendidos' %}"); return false; });
    $(document).bind('keydown', 'Shift+space',function (evt){irAtajos("{% url 'consultaFacturas' %}"); return false; });

    //accesos dircetos
    $(document).bind('keydown', 'Alt+m',function (evt){irAtajos("{% url 'mozo' %}"); return false; });
    $(document).bind('keydown', 'Alt+c',function (evt){irAtajos("{% url 'cajero' %}"); return false; });

});
</script>

{% block script %}{% endblock %}
</body>
</html>
