{% extends "base_administrador.html" %}
{% block titulo %}Boru - Eliminar Mozo{% endblock %}
{% block contenido %}
<div class="cont_redondeado contenedor_principal_big">
    <!--Aca inicio contenido//-->
    <div class="label label-inverse titulo_menu">Listado de Mozos</div>

    <!-- inicio buscador mozos//-->
    <div class="salto_linea"></div>
    <br>

    <form name="fromBuscador" method="post" id="formBuscador" action="{% url 'eliminarmozofiltro' %}">
        <div class="input-append">
            <input class="span2 buscador" id="appendedInputButton" type="text" name="q">
            <button class="btn" type="submit" name="buscar">Buscar Mozo</button>
        </div>
        <div class="cont_resultado_busqueda">
        </div>
        {% csrf_token %}
    </form>
    <div class="salto_linea"></div>
    <!-- fin buscador mozos//-->
    <!--inicio seleccion//-->
    <form method="post" action="{% url 'eliminarmozo' %}">
        <div class="listado_eliminar_mozo_item_checkbox label label-inverse">

            <div class="campo_texto_01 campo_texto_formato">
                <input type="checkbox" class="check_todos" name="checktodos" value="Seleccionar Todo">
            </div>
            <div class="campo_texto_02 campo_texto_formato">Username</div>
            <div class="campo_texto_03 campo_texto_formato">Nombre</div>
            <div class="campo_texto_04 campo_texto_formato">Tipo</div>
            <div class="campo_texto_05 campo_texto_formato">Documento</div>
            <div class="campo_texto_06 campo_texto_formato">Turno</div>
            <div class="campo_texto_07 campo_texto_formato">&nbsp&nbsp&nbsp</div>
        </div>
        <!-- fin seleccion//-->
        <!-- inicio listado de mozos //-->
        {% for m in mozos %}
        <div class="listado_eliminar_mozo_item {% if not m.is_active %}inactivo{% endif %}">

            <div class="campo_texto_01 campo_texto_formato">
                <input type="checkbox" name="chkId" class="check_eliminar_mozo" value="{{m.id}}">
            </div>

            <div class="listado_mozo_item_campo campo_texto_02 campo_texto_formato" title="{{m.username|capfirst}}">
                {{m.username|capfirst|truncatechars:10}}
            </div>

            <div class="listado_mozo_item_campo campo_texto_03 campo_texto_formato"
                 title="{{m.first_name|capfirst}} {{m.last_name|capfirst}}">
                {{m.first_name|capfirst|truncatechars:10}} {{m.last_name|capfirst|truncatechars:10}}
            </div>

            <div class="listado_mozo_item_campo campo_texto_04 campo_texto_formato" title="{{m.tipoDoc}}">
                {{m.tipoDoc|capfirst|truncatechars:10}}
            </div>

            <div class="listado_mozo_item_campo campo_texto_05 campo_texto_formato" title="{{m.numeroDoc}}">
                {{m.numeroDoc}}
            </div>

            <div class="listado_mozo_item_campo campo_texto_06 campo_texto_formato" title="{{m.turno}}">
                {{m.turno}}
            </div>

            <div class="listado_mozo_item_campo campo_texto_07 campo_texto_formato">
                <a href="{% url 'modificarmozo_id' m.id %}"><img src="{{STATIC_URL}}img/conf/glyphicons_150_edit.png"
                                                                 class="modificar_mozo"
                                                                 title="Modificar mozo: {{m.first_name|capfirst}} {{m.last_name|capfirst}}"
                                                                 width="25"></a>
                <img src="{{STATIC_URL}}img/conf/{% if m.is_active %}glyphicons_192_circle_remove.png{% else %}glyphicons_193_circle_ok.png{% endif %}"
                     nombre="{{m.first_name|capfirst}} {{m.last_name|capfirst}}"
                     urldel="{% url 'eliminar_mozo_id' m.id %}" estado="{{m.is_active}}" class="eliminar_mozo"
                     title="{% if not m.is_active %}Acivar{% else %}Eliminar{% endif %} mozo: {{m.first_name|capfirst}} {{m.last_name|capfirst}}">
            </div>

        </div>
        {% endfor %}


        <div class="salto_linea"></div>
        <br>
        <input type="submit" class="btn btn-primary" value="Eliminar Seleccionados">
        {% csrf_token %}
    </form>
    <!-- Aca fin de contenido//-->
</div><!-- fin conetedor principal//-->

</div><!-- fin contenedor principal centro//-->
{% endblock %}

{% block script %}
<script>

function enviarForm(msg){
    $(".buscador").val(msg);
    $("#formBuscador").submit();
}

function reemplazarCadena(cad, q){
var re = new RegExp(q,"gi");
    return cad.replace(re,"<span class='resaltado resaltarBusqueda'>"+q+"</span>");
}

$(document).ready(function(){

    //checkbox
	$("input[name=checktodos]").change(function(){
		$('input[type=checkbox]').each( function() {
			if($("input[name=checktodos]:checked").length == 1){
				this.checked = true;
			} else {
				this.checked = false;
			}
		});
	});

	//confirm de eliminar mozo
	$(".eliminar_mozo").each(function(i){
	 	$(this).css("cursor","pointer");

			$(this).click(function(event){
				var mozo = $(this).attr("nombre");
				var estado = $(this).attr("estado");
				var msg = (estado == "True")?"Usted desea eliminar al mozo ":"Usted desea activar al mozo ";
                if( confirm(msg+mozo+"?") ){
                   $(location).attr('href', $(this).attr("urldel") );
                }
			});
	 });

    //inicio el rsultado de la busqieda oculto
    $(".cont_resultado_busqueda").css("visibility","hidden");

    //cuando presiono una tecla en la caja de busqueda
    $(".buscador").keyup(function(event){

        var busqueda=$(this).val();

        if( busqueda.length >= 2){

            $.ajax({
                type: "GET",
                url: "{% url 'buscador_mozo_ajax' %}",
                data: "q="+busqueda,
                success: function(datos){

                    if(datos.length > 0){
                        $(".cont_resultado_busqueda").html(datos);
                        $(".cont_resultado_busqueda").css("visibility","visible");

                        $(".busqueda_item").each(function(i){
                            var cad=$(this).text();
                            $(this).html(reemplazarCadena(cad, busqueda));
                            $(".resaltado").addClass("resaltarBusqueda");
                        });
                    }
                    else{
                        $(".cont_resultado_busqueda").css("visibility","hidden");
                    }

                  }
            });
        }
        else
        {
            $(".cont_resultado_busqueda").css("visibility","hidden");
        }

    });

	$('.dropdown-toggle').dropdownHover(options);
});



</script>
{% endblock %}